@tailwind base;
@tailwind components;
@tailwind utilities;

#menuToggle {
  display: block;
  padding: 2rem;
  z-index: 1;
  font-weight: bold;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: radial-gradient(
    at right bottom,
    rgb(82, 82, 91),
    rgb(255, 255, 255),
    rgb(20, 184, 166)
  );
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: grey;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;

  opacity: 0;
  z-index: 2;

  -webkit-touch-callout: none;
}

/*
    * Just a quick hamburger
    */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: radial-gradient(
    at right bottom,
    rgb(82, 82, 91),
    rgb(255, 255, 255),
    rgb(20, 184, 166)
  );
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
    * Transform all the slices of hamburger
    * into a crossmark.
    */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: radial-gradient(
    at right bottom,
    rgb(82, 82, 91),
    rgb(255, 255, 255),
    rgb(20, 184, 166)
  );
}

/*
    * But let's hide the middle one.
    */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
    * Ohyeah and the last one should go the other direction
    */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: linear-gradient(
    to right bottom,

    rgb(0, 0, 0),
    rgb(14, 18, 24),
    rgb(0, 0, 0)
  );
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menuToggle input:checked ~ ul {
  transform: none;
}

/* Projects Scetion */

.card-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  max-width: 1200px;
  width: 100%;
}

@media (min-width: 540px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 960px) {
  .card-grid {
    padding: 6rem 4rem 0 4rem;
  }
}

.card {
  list-style: none;
  position: relative;
}

.card:before {
  content: "";
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background {
  background-size: cover;
  background-position: right;
  border-radius: 24px;
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  trsnsform: scale(1) translateZ(0);
  transition: filter 200ms linear, transform 200ms linear;
}

.card:hover .card__background {
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content {
  left: 0;
  padding: 24px;
  position: absolute;
  top: 0;
}

.card__category {
  color: #bbbbbb;
  font-size: 1rem;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.card__heading {
  color: white;
  font-size: 1.9rem;
  word-spacing: 100vw;
}
